.iom-external-card {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  // box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  padding: 20px 20px;
  margin-bottom: 16px;

  cursor: pointer;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

    .right {
      margin-left: auto;
    }
  }

  .content {
    .title {
      color: #242424;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 8px;
    }

    p {
      color: #666;
      font-weight: 400;
      margin-bottom: 0px;
    }
  }

  .icon-wrapper {
    // background: #0070f3;
    // border-radius: 4px;
    color: #0070f3;
    font-size: 32px;
    margin-top: -4px;
    // padding-top: 0px;
    // padding-left: 0px;
  }
}
