.FeatureHeaderText {
  h3 {
    color: var(--ifm-color-emphasis-500);
  }

  p {
    color: var(--ifm-color-emphasis-400);
  }
}

.FeatureCard {
  background: var(--ifm-card-background-color);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 16px;
  height: 100%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
    background-color: var(--docsearch-modal-background);
  }

  & > a {
    text-decoration: none;
    color: inherit;

    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .CardContent {
    font-size: 14px;

    .CardLabel {
      font-family: monospace;
      font-weight: 600;
      font-size: 12px;
    }

    .CardTitle {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
    }

    .CardDescription {
      line-height: 20px;
    }

    p {
      color: var(--ifm-menu-color);
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

html[data-theme="dark"] .FeatureCard:hover {
  background-color: var(--ifm-color-gray-800);
}

html[data-theme="dark"] .FeatureCard {
  border: 1px solid var(--ifm-color-emphasis-200);
}

@media (max-width: 996px) {
  .Column {
    margin-bottom: 24px;
  }

  html[data-theme="dark"] .FeatureHeaderText {
    p,
    h3 {
      color: var(--ifm-color-emphasis-500);
    }
  }

  .FeatureHeaderText {
    p,
    h3 {
      color: black;
    }
  }
}
