.Container {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (max-width: 768px) {
        gap: 32px;
    }
}

.TagsSearchSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    column-gap: 24px;
    row-gap: 24px;
}