.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;

  @media (min-width: 768px) {
    gap: 12px;
  }
}

.TagLink {
  text-decoration: none !important;
  text-decoration-line: none !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 100ms;
  border-radius: 4px;

  font-size: 12px;
  line-height: 28px;

  padding-top: 4px;
  padding-bottom: 4px;

  padding-left: 4px;
  padding-right: 4px;

  @media (min-width: 768px) {
    padding-top: 8px;
    padding-bottom: 8px;

    padding-left: 16px;
    padding-right: 16px;

    line-height: 34px;
  }

  @media (min-width: 1280px) {
    padding-top: 8px;
    padding-bottom: 8px;

    padding-left: 24px;
    padding-right: 24px;
  }

  text-transform: capitalize;

  color: var(--ifm-color-emphasis-800);
  background-color: var(--ifm-color-emphasis-200);

  &.Active,
  &:hover {
    color: white;
    background-color: var(--ifm-color-primary);
  }
}
