.Tags {
  display: flex;

  gap: 12px;
  flex-wrap: wrap;
}

.TagLink {
  text-decoration: none !important;
  text-decoration-line: none !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 100ms;
  border-radius: 4px;

  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  text-transform: capitalize;
  color: var(--ifm-color-emphasis-800);
  background-color: var(--ifm-color-emphasis-200);

  &.Active,
  &:hover {
    color: white;
    background-color: var(--ifm-color-primary);
  }
}
