.card-desc {
  color: #858c9d;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.item {
  animation-name: loop;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: 40000ms;
  animation-duration: 40000ms;
}

@keyframes loop {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.item-reverse {
  animation-name: loop-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: 40000ms;
  animation-duration: 40000ms;
}

@keyframes loop-reverse {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-300px);
  }
}
