.TagsSearchSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

[data-theme="dark"] {
  .Card:hover {
    background-color: #1e293b;
  }
}

.CardRow {
  margin-top: 12px;
}

.Card {
  border-radius: 6px;

  //   background-color: pink;
}

.Card:hover {
  background-color: #f8fafc;
}

.CardLink,
.CardLink:hover {
  color: unset;
  text-decoration: none;
}

.CardTitle {
  margin-bottom: 0.5rem;
}

.CardReadMore {
  margin-top: 1rem;
  color: var(--ifm-color-primary);
}
