html.iom-glossary-list {
  div.container.margin-vert--lg {
    max-width: var(--ifm-container-width);

    @media (max-width: 768px) {
      padding: 0 24px;
    }

    &>.row {
      display: block;
      margin: 0 !important;

      &>main.col--9 {
        max-width: 100% !important;
        margin-left: 0 !important;

        padding: 0;
      }
    }
  }
}