.imgContainer {
    margin-bottom: 32px;
    width: fit-content;

    &.imgCentered {
        margin-left: auto;
        margin-right: auto;
    }

    &:not(.imgBorderless) img {
        border-radius: 4px;
        border: 1px solid var(--ifm-color-emphasis-200) !important;
    }
}