.Header {
  display: flex;
  align-items: center;
  height: 100px;

  h1 {
    font-size: 46px;
    margin-bottom: 1.25rem;
  }
}

.BgImg {
  position: absolute;
  right: 0;
  top: 112px;
  z-index: -1;
  color: var(--ifm-color-emphasis-200);
}

[data-theme="dark"] .BgImg {
  color: var(--ifm-card-background-color);
}
