html[data-theme='light'] {
    --admonition-note-bg: var(--stone-50);
    --admonition-info-bg: var(--lake-50);
    --admonition-tip-bg: var(--racing-50);
    --admonition-caution-bg: var(--apricot-50);
    --admonition-danger-bg: var(--reef-50);

    --admonition-code-note-bg: var(--stone-100);
    --admonition-code-info-bg: var(--lake-100);
    --admonition-code-tip-bg: var(--racing-100);
    --admonition-code-caution-bg: var(--apricot-100);
    --admonition-code-danger-bg: var(--reef-100);

    --admonition-link-note-c: var(--stone-900);
    --admonition-link-info-c: var(--lake-900);
    --admonition-link-tip-c: var(--racing-900);
    --admonition-link-caution-c: var(--apricot-900);
    --admonition-link-danger-c: var(--reef-900);
}

html[data-theme='dark'] {
    --admonition-note-bg: var(--stone-900);
    --admonition-info-bg: var(--lake-900);
    --admonition-tip-bg: var(--racing-900);
    --admonition-caution-bg: var(--apricot-900);
    --admonition-danger-bg: var(--reef-900);

    --admonition-code-note-bg: var(--stone-700);
    --admonition-code-info-bg: var(--lake-700);
    --admonition-code-tip-bg: var(--racing-700);
    --admonition-code-caution-bg: var(--apricot-700);
    --admonition-code-danger-bg: var(--reef-700);

    --admonition-link-note-c: var(--stone-300);
    --admonition-link-info-c: var(--lake-300);
    --admonition-link-tip-c: var(--racing-300);
    --admonition-link-caution-c: var(--apricot-300);
    --admonition-link-danger-c: var(--reef-300);
}

:root {
    --admonition-bar-note-bg: var(--stone-300);
    --admonition-bar-info-bg: var(--lake-300);
    --admonition-bar-tip-bg: var(--racing-300);
    --admonition-bar-caution-bg: var(--apricot-300);
    --admonition-bar-danger-bg: var(--reef-300);
}

.theme-admonition {
    & {
        position: relative;
        border: none;

        --ifm-alert-color: var(--ifm-font-color-base);
        --ifm-alert-padding-horizontal: 2rem;
        --ifm-alert-padding-vertical: 1.5rem;
    }

    [class^='admonitionHeading_'] {
        & {
            text-transform: capitalize;
            font-size: 1rem;
            line-height: 1.4;
        }

        [class^='admonitionIcon_'] {
            display: none;
        }
    }

    [class^='admonitionContent_'] {
        p {
            a {
                color: var(--admonition-link);
                text-decoration: underline;
            }

            code {
                background: var(--admonition-code-bg);
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        background: var(--admonition-bar-bg);
        border-radius: 4px 0 0 4px;
    }

    &-note {
        --ifm-alert-background-color: var(--admonition-note-bg);
        --admonition-bar-bg: var(--admonition-bar-note-bg);
        --admonition-code-bg: var(--admonition-code-note-bg);
        --admonition-link: var(--admonition-link-note-c);
    }

    &-info {
        --ifm-alert-background-color: var(--admonition-info-bg);
        --admonition-bar-bg: var(--admonition-bar-info-bg);
        --admonition-code-bg: var(--admonition-code-info-bg);
        --admonition-link: var(--admonition-link-info-c);
    }

    &-tip {
        --ifm-alert-background-color: var(--admonition-tip-bg);
        --admonition-bar-bg: var(--admonition-bar-tip-bg);
        --admonition-code-bg: var(--admonition-code-tip-bg);
        --admonition-link: var(--admonition-link-tip-c);
    }

    &-caution,
    &-warning {
        --ifm-alert-background-color: var(--admonition-caution-bg);
        --admonition-bar-bg: var(--admonition-bar-caution-bg);
        --admonition-code-bg: var(--admonition-code-caution-bg);
        --admonition-link: var(--admonition-link-caution-c);
    }

    &-danger {
        --ifm-alert-background-color: var(--admonition-danger-bg);
        --admonition-bar-bg: var(--admonition-bar-danger-bg);
        --admonition-code-bg: var(--admonition-code-danger-bg);
        --admonition-link: var(--admonition-link-danger-c);
    }
}

.alert--secondary {
    color: var(--ifm-font-color-base);
}