html[data-theme="light"] {
  --toc-separator-c: var(--c-indigo-20);
  --ifm-toc-link-color: var(--c-indigo-80);
}

html[data-theme="dark"] {
  --toc-separator-c: var(--c-carbon-90);
  --ifm-toc-link-color: var(--c-carbon-0);
}

// :root {}

//overrides
#__docusaurus {
  [class^="tableOfContents_"] {
    max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
    overflow-y: auto;
    position: sticky;
    top: calc(var(--ifm-navbar-height) + 1rem);

    padding-block-end: 1.25rem;
    line-height: 1.4;
  }

  .table-of-contents__left-border {
    border-left: none;
  }

  .table-of-contents__link {
    strong {
      font-weight: 500;
    }
  }

  .toc-wrapper {
    overflow: auto;
    position: sticky;
    top: calc(var(--ifm-navbar-height) + 16px);
    max-height: calc(100vh - var(--ifm-navbar-height) - 16px);
    margin-block-start: 5rem;

    padding-block-end: 2rem;

    h2 {
      font-size: 0.625rem;
      line-height: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      //color: var(--c-indigo-60);
    }

    .table-of-contents {
      padding: 0;
      margin-inline-start: calc(-1 * var(--ifm-toc-padding-horizontal));
      margin-inline-end: calc(-1 * var(--ifm-toc-padding-horizontal));

      > li:first-of-type {
        margin-block-start: 0;
      }

      > li:last-of-type {
        margin-block-end: 0;
      }
    }
  }

  [class^="tocCollapsible_"] {
    @media (max-width: 996px) {
      display: none;
    }
  }
}
