html[data-theme="light"] {
  --navbar-link-c: var(--c-indigo-80);

  --navbar-separator-bg-c: var(--c-indigo-40);

  --ifm-dropdown-background-color: var(--token-secondary-bg-c);

  --navbar-icon-link-c: var(--c-indigo-60);
}

html[data-theme="dark"] {
  --navbar-link-c: var(--c-gray-0);

  --navbar-separator-bg-c: var(--c-carbon-80);

  --navbar-icon-link-c: var(--c-white);
}

:root {
  --navbar-dropdown-icon: var(--ifm-menu-link-sublist-icon);
}

//overrides
#__docusaurus {
  .navbar {
    padding: 0 16px;
    font-size: 14px;
    width: 100vw;
    display: flex;
    justify-content: center;
    &__inner {
      width: initial;
      flex-grow: 1;
      flex-wrap: nowrap;
      max-width: 1400px;
    }

    &__items {
      min-width: auto;

      &:not(.navbar__items--right) {
        .navbar__link {
          @media (max-width: 996px) {
            display: none;
          }
        }
        :not(.cta) {
          &.navbar__link {
            @media (min-width: 996px) {
              display: flex;
            }

            align-self: stretch;
            align-items: center;

            position: relative;

            &::after {
              content: "";
              position: absolute;
              height: 2px;
              left: var(--ifm-navbar-item-padding-horizontal);
              right: var(--ifm-navbar-item-padding-horizontal);
              bottom: 0;
              background: rgba(0, 0, 0, 0);
              transition: background-color 0.2s ease-out;
            }

            &--active {
              color: var(--ifm-link-color);

              &::after {
                background: var(--ifm-link-color);
              }
            }
          }
        }
      }

      .cta {
        display: flex;
        align-items: center;
        align-self: initial;

        padding: 0.375rem 0.625rem;

        background: linear-gradient(90deg, #495fff 0%, #18c6ff 114.68%);

        color: #fff;

        border-radius: 200px;

        white-space: nowrap;

        font-weight: 600;
        font-size: 0.75rem;
        line-height: 100%;

        transition: opacity 0.2s ease-out;

        margin-inline-start: 0.5rem;

        @media (max-width: 1400px) {
          display: none;
        }

        &:hover,
        &:active {
          opacity: 0.8;
        }

        &::after {
          content: "";
          width: 12px;
          height: 12px;
          mask-size: 100% 100%;
          background-color: currentColor;
          margin-inline-start: 0.125rem;
        }

        svg {
          margin-inline-start: 0.125rem;

          &[class^="iconExternalLink"] {
            display: none;
          }
        }
      }
    }

    &__link {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 17px;
      white-space: nowrap;
      color: var(--navbar-link-c);
    }
  }
}
