.main {
    padding: 12px;
    color: red;
}

.menu__list-item-collapsible {
    &>a {
        font-weight: 600;
    }
}

:root {
    --docs-color-border: #dadde1;
    --code-block-bg-c: #f6f8fc;

    article {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.7);
    }

    .alert--info {
        border-left-color: #0070f3;
        background-color: #f7fbff;
    }
}

[data-theme='dark'] {
    --docs-color-border: #2e2e2e;
    --code-block-bg-c: #232526;

    article {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.8);
    }

    .alert--info {
        border-left-color: #0070f3;
        background-color: #253548;
    }
}

:root {
    // Custom
    --ifm-table-border-color: var(--docs-color-border);
    --code-border-color: var(--docs-color-border);
}

.tabs {
    border-bottom: 1px solid var(--docs-color-border);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

// *,
// ::before,
// ::after {
//   border-width: 0; 
//   border-style: solid; 
// }
button, input {
    border-width: 0;
    border-style: solid;
}

a {
    @apply text-primary-light dark:text-primary-dark;
}