.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;

  @media (min-width: 768px) {
    gap: 12px;
  }
}

.TagLink {
  cursor: pointer;
  text-decoration: none !important;
  text-decoration-line: none !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 100ms;
  border-radius: 4px;

  padding: 6px 12px;
  height: 32px;
  line-height: 18px;
  font-size: 16px;

  text-transform: capitalize;

  color: var(--base-700);
  background-color: var(--base-200);

  &.Active,
  &:hover {
    color: white;
    background-color: var(--base-800);
  }
}

html[data-theme='dark'] {
  .TagLink {
    color: var(--base-200);
    background-color: var(--base-800);
  }

  .TagLink.Active,
  .TagLink:hover {
    color: white;
    background-color: var(--base-600);
  }
}