html[data-theme="dark"] .Card {

  background-color: var(--ifm-card-background-color);

  &:hover {
    background-color: var(--ifm-color-gray-900);
  }
}

.Card {
  & {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;

    padding: 20px 20px;
    margin-bottom: var(--card-margin-bottom, 16px);

    cursor: pointer;
  }

  &:hover {
    box-shadow: none;
    background-color: var(--stone-50);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .Wrapper {
    & {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;
    }

    .Icon {
      color: var(--ifm-color-gray) !important;
      font-size: 32px;
      line-height: 1;
      margin-bottom: 12px;
    }

    .Content {
      .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 4px;
      }

      p {
        color: var(--ifm-menu-color);
        font-weight: 400;
        margin-bottom: 0px;
      }
    }

    .IconRight {
      margin-left: auto;
      color: var(--ifm-color-gray-600);
    }
  }
}