html[data-theme="dark"] .Card:hover {
  background-color: var(--ifm-color-gray-800);
}

.Card {
  background-color: var(--ifm-card-background-color);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  padding: 20px 20px;
  margin-bottom: 16px;

  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
    background-color: var(--docsearch-modal-background);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .Wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

    .Icon {
      color: #0070f3;
      font-size: 32px;
      line-height: 1;
    }

    .Content {
      .h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
      }

      p {
        color: var(--ifm-menu-color);
        font-weight: 400;
        margin-bottom: 0px;
      }
    }

    .IconRight {
      margin-left: auto;
      color: #0070f3;
    }
  }
}
