.iom-card {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  border-radius: 6px;

  padding: 20px 20px;
  margin-bottom: 16px;

  cursor: pointer;

  a {
    text-decoration: none;
    color: inherit;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  .content {
    .title {
      color: #242424;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 8px;
    }

    p {
      color: #666;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 0px;
    }
  }

  .icon-wrapper {
    min-width: 40px;
    min-height: 40px;
    background: #242424;
    border-radius: 6px;
    color: #fff;
    padding-top: 8px;
    padding-left: 8px;
  }
}
