.hero-bg {
  position: absolute;
  top: 60px;
  right: 0;
  // background-color: #f1f7ff;
  background-color: black;
  z-index: -1;
  height: 650px;
  width: 100vw;
}

html[data-theme="dark"] .hero-bg {
  background: #1d252f;
}

@media (max-width: 996px) {
  .hero-bg {
    display: none;
  }
}


// Header
.iom-hero {
  align-items: center;
  // color: var(--ifm-hero-text-color);
  color: var(--ifm-color-emphasis-500);

  display: flex;
  justify-content: space-between;

  img {
    filter: invert(1) hue-rotate(-180deg);
  }
}

p {
  line-height: 33px;
}

.iom-hero-text {
  max-width: 50%;
}

@media (max-width: 996px) {
  .hero-img {
    visibility: hidden;
    display: none;
  }

  .iom-hero {
    display: block;
    margin-bottom: 64px;
  }

  .iom-hero-text {
    max-width: 100%;
  }
}