.hero-bg {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #f1f7ff;
  z-index: -1;
  height: 650px;
  width: 100vw;
}

html[data-theme="dark"] .hero-bg {
  background: #1d252f;
}

@media (max-width: 996px) {
  .hero-bg {
    display: none;
  }
}
