.HeroBg {
  position: absolute;
  top: 60px;
  right: 0;
  // background-color: #f1f7ff;
  background-color: black;
  z-index: -1;
  height: 650px;
  width: 100vw;
}

html[data-theme="dark"] .HeroBg {
  background: #1d252f;
}

// Header
.IomHero {
  align-items: center;
  // color: var(--ifm-hero-text-color);
  color: var(--ifm-color-emphasis-500);

  display: flex;
  justify-content: space-between;

  img {
    filter: invert(1) hue-rotate(-180deg);
  }
}

p {
  line-height: 33px;
}

.IomHeroText {
  max-width: 50%;
}

@media (max-width: 996px) {
  html[data-theme="dark"] .IomHeroText {
    p,
    h1 {
      color: var(--ifm-color-emphasis-500);
    }
  }

  .IomHeroText {
    p,
    h1 {
      color: black;
    }
  }

  .HeroImg {
    visibility: hidden;
    display: none;
  }

  .HeroBg {
    display: none;
  }

  .IomHero {
    display: block;
    margin-bottom: 64px;
  }

  .IomHeroText {
    max-width: 100%;
  }

  .container {
    padding: 12px;
  }
}
