@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.HeroContainer {
  max-width: 830px !important;
  padding: 0;

  h1 {
    font-weight: 500;
    font-size: 26px !important;
    line-height: 31.47px;
    margin: 8px 0;
    font-family: Inter, sans-serif;
  }

  h2 {
    font-size: 20px !important;
    line-height: 24px;
    font-weight: 500;
  }

  h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #3f434b;
  }

  a {
    text-decoration: none !important;
    color: unset !important;

    :hover {
      text-decoration: none !important;
    }
  }
}

html[data-theme="dark"] h4 {
  color: var(--ifm-color-emphasis-500);
}

@media (max-width: 1400px) {
  .HeroContainer {
    padding: 0 16px;
  }
}
