.Feedback {
  // background-color: #f5f7f9;
  margin-top: 48px;
  padding: 12px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .FeedbackCard {
    border: 1px solid var(--ifm-color-info-contrast-background);
    border-radius: 6px;
    width: max-content;
    padding: 4px 8px;
    display: flex;
  }

  .Title {
    // color: #222;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 2px;
  }

  .Action {
    border: none;
    cursor: pointer;
    margin: 0 12px;
    transform: scale(1);
    :hover {
      animation: anim 0.5s ease-in-out;
      -webkit-animation: anim 0.5s ease-in-out;
    }
  }

  p {
    margin-bottom: 0px;
  }

  .Iconx {
    display: flex;
    align-items: center;
  }

  .Iconx svg {
    color: var(--ifm-color-primary);

    margin-right: 6px;
    line-height: 22px;
    vertical-align: text-bottom;
  }
}
