.Feedback {
  // background-color: #f5f7f9;
  margin-top: 48px;
  padding: 12px;
  border-radius: 6px;
  text-align: center;

  .Title {
    // color: #222;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 2px;
  }

  .Action {
    border: none;
    cursor: pointer;
    margin: 0 12px;
    transform: scale(1);
    :hover {
      animation: anim 0.5s ease-in-out;
      -webkit-animation: anim 0.5s ease-in-out;
    }
  }

  p {
    margin-bottom: 0px;
  }

  .Iconx svg {
    color: var(--ifm-color-primary);

    margin-right: 6px;
    line-height: 22px;
    vertical-align: text-bottom;
  }
}

@keyframes anim {
  100% {
    transform: rotate(-15deg) scale(1.3);
    -webkit-transform: rotate(-15deg) scale(1.3);
    -moz-transform: rotate(-15deg) scale(1.3);
    -ms-transform: rotate(-15deg) scale(1.3);
    -o-transform: rotate(-15deg) scale(1.3);
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
  }
}
