.blog-main {
    max-width: 1280px;

    margin-top: 8px;

    @media (min-width: 768px) {
        margin-top: 80px;
    }

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    padding: 24px;

    .text-muted {
        color: #808080;
    }

    .blog-header {
        margin-bottom: 64px;

        &>h1 {
            font-size: 2.5rem;
            font-weight: 500;
        }

        &>p {
            font-size: 19px;
        }
    }

    .blog-tags-search {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        gap: 20px;
        column-gap: 96px;

        .blog-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            @media (min-width: 768px) {
                gap: 12px;
            }

            justify-content: center;

            .blog-tag-link {
                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 150ms;
                transition-duration: 100ms;
                border-radius: 4px;
                text-decoration-line: none;

                font-size: 18px;
                line-height: 28px;

                padding-top: 4px;
                padding-bottom: 4px;

                padding-left: 12px;
                padding-right: 12px;

                @media (min-width: 768px) {
                    padding-top: 8px;
                    padding-bottom: 8px;

                    padding-left: 16px;
                    padding-right: 16px;

                    line-height: 34px;
                }

                @media (min-width: 1280px) {
                    padding-top: 8px;
                    padding-bottom: 8px;

                    padding-left: 24px;
                    padding-right: 24px;
                }

                text-transform: capitalize;

                color: var(--ifm-color-emphasis-800);
                background-color: var(--ifm-color-emphasis-200);

                &.active,
                &:hover {
                    color: white;
                    background-color: var(--ifm-color-primary);
                }
            }

        }

        form.blog-search {
            flex-grow: 1;
            flex-basis: 256px;

            &>div {
                position: relative;
                width: 100%;

                &>div {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: 0px;
                    padding-right: 12px;
                    pointer-events: none;

                    &>svg {
                        width: 20px;
                        height: 20px;
                        color: var(--ifm-color-emphasis-600);
                    }
                }

                &>input {
                    background-color: transparent;
                    display: block;

                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 12px;
                    padding-right: 12px;

                    @media (min-width: 768px) {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        padding-left: 16px;
                        padding-right: 16px;
                    }

                    width: 100%;

                    font-size: 14px;
                    line-height: 20px;

                    border-radius: 4px;

                    border: 1px var(--ifm-color-emphasis-300) solid;

                    &:focus {
                        border: 1px var(--ifm-color-primary) solid;
                    }

                    outline: transparent;

                    &::placeholder {
                        color: var(--ifm-color-emphasis-600);
                    }
                }
            }
        }

    }

    .blog-cards {
        margin-top: 48px;
        display: grid;
        grid-auto-flow: row;
        gap: 44px;
        // color: var(--ifm-color-emphasis-800);

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (min-width: 1280px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    a.blog-card {
        // padding: 10px;
        // margin: 10px;
        display: flex;
        flex-direction: column;
        text-decoration-line: none;
        max-width: 512px;
        // outline: solid 1px var(--ifm-color-emphasis-200);
        border-radius: 4px;
        // background-color: #fafafa;
        color: #000;
        cursor: pointer;

        // &:hover {
        //     box-shadow: 0 0px 6px 0px rgb(0 0 0 / 0.1);
        // }

        .blog-card-image {
            border-radius: 2px;
            object-fit: cover;
            width: 100%;
            height: 184px;
            @media (min-width: 1024px) {
                height: 226px;
            }
        }

        .blog-card-footer {
            margin: 2px;
            margin-top: 6px;

            .blog-card-tags {
                color: #808080;
                font-size: 12px;
            }
            
            .blog-card-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 8px;
                line-height: 1.35;
            }

            .blog-card-description {
                color: #707070;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .blog-card-author {
                margin-top: 8px;

                display: flex;
                flex-grow: initial;
                flex-shrink: initial;
                flex-basis: initial;
                flex-direction: row;
                -webkit-box-align: center;
                align-items: center;

                .blog-card-avatar {
                    display: inline-block;
                    height: 22px;
                    width: 22px;
                    border-radius: 50%;
                    margin-right: 12px;
                }
    
                .blog-card-author-name {
                    font-weight: 500;
                    color: var(--ifm-color-emphasis-900);
                }
    
                .blog-card-post-date {
                    color: var(--ifm-color-emphasis-600);
                }
            }

            // &>div:first-child {
            //     &>span {
            //         font-size: 12px;
            //         line-height: 16px;
            //         font-weight: 500;
            //         text-transform: uppercase;
            //         color: var(--ifm-color-primary-lighter);
            //     }

            //     &>div {
            //         display: block;
            //         margin-top: 8px;
            //         font-size: 18px;
            //         line-height: 28px;
            //         font-weight: 600;
            //         color: var(--ifm-color-emphasis-900);
            //         // color: rgb(255 255 255);
            //     }
            // }

            // &>div:nth-child(2) {
            //     margin-top: 4px;

            //     @media (min-width: 1024px) {
            //         margin-top: 8px;
            //     }

            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;

            //     &>div {
            //         display: flex;
            //         align-items: center;

                    
            //     }

            // }
        }
    }

    .no-result {
        margin: auto;

        padding-top: 64px;
        padding-bottom: 64px;
        width: 240px;
        max-width: fit-content;

        @media (min-width: 640px) {
            padding: 64px;
        }
        
    }

    a.blog-main-card {
        margin-bottom: 64px;
        padding: 32px;

        display: flex;
        text-decoration-line: none;
        border-radius: 4px;
        outline: 1px var(--ifm-color-emphasis-200) solid;

        &:hover {
            box-shadow: 0 0px 5px 2px rgb(0 0 0 / 0.1);
        }

        .blog-card-img {
            max-width: 705px;

            &>img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                width: 364px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
    
                @media (min-width: 1024px) {
                    height: 256px;
                }
            }
        }

        

        .blog-card-footer {
            color: var(--ifm-color-emphasis-900);
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: 16px;

            @media (min-width: 1024px) {
                padding: 24px;
            }

            &>div:first-child {
                &>span {
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: var(--ifm-color-primary-lighter);
                }

                &>div {
                    display: block;
                    margin-top: 8px;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 600;
                    color: var(--ifm-color-emphasis-900);
                    // color: rgb(255 255 255);
                }
            }

            &>div:nth-child(2) {
                margin-top: 4px;

                @media (min-width: 1024px) {
                    margin-top: 8px;
                }

                display: flex;
                align-items: center;
                justify-content: space-between;

                &>div {
                    display: flex;
                    align-items: center;

                    &>img {
                        height: 2.5rem
                            /* 40px */
                        ;
                        border-radius: 9999px;
                    }

                    &>div {
                        padding-left: 12px;

                        &>div:nth-child(1) {
                            font-weight: 600;
                            color: var(--ifm-color-emphasis-900);
                        }

                        &>div:nth-child(2) {
                            font-size: 12px;
                            line-height: 16px;
                            color: var(--ifm-color-emphasis-800);
                        }
                    }
                }

            }
        }
    }
}