/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@use "./iomete-colors.css";

@use "./components/medium-zoom-image.scss";

@use "./components/docsearch.scss";

@use "./components/admonition";
@use "./components/code";
@use "./components/toc.scss";
@use "./components/doc-sidebar";
@use "./components/pagination.scss";
@use "./components/doc-item.scss";
@use "./components/navbar.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
//   font-family: 'Inter';
//   src: url('https://cdn.prod.website-files.com/6799ec9d00832d1abf08b380/679a3594aabfa49cafb5d07e_InterVariable.ttf') format('truetype');
//   font-weight: 100 900;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Archivo';
//   src: url('https://cdn.prod.website-files.com/6799ec9d00832d1abf08b380/679a361dee69de6073e991b4_Archivo-VariableFont_wdth,wght.ttf') format('truetype');
//   font-weight: 100 900;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Dmmono';
//   src: url('https://cdn.prod.website-files.com/6799ec9d00832d1abf08b380/679a3657294bb48e01b67f05_DMMono-Medium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Dmmono';
//   src: url('https://cdn.prod.website-files.com/6799ec9d00832d1abf08b380/679a3650d012930b8d8bd5b0_DMMono-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

:root {
  --ifm-color-primary: #0070f3;
  --ifm-color-primary-dark: #0065db;
  --ifm-color-primary-darker: #005fcf;
  --ifm-color-primary-darkest: #004eaa;
  --ifm-color-primary-light: #0c7cff;
  --ifm-color-primary-lighter: #1883ff;
  --ifm-color-primary-lightest: #3d96ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  // --iom-text-color: var(--ifm-color-gray-1000);
  // --iom-text-muted: var(--ifm-color-gray-700);

  --ifm-heading-font-weight: 600;
  --ifm-alert-border-radius: 2px;
  --ifm-alert-border-width: 1px;
  --ifm-alert-border-left-width: 1px;
  --ifm-pre-border-radius: 2px;

  --ifm-color-info-contrast-background: #eaf3fc;
  --ifm-color-info-dark: #3d96ff;
  // --ifm-global-shadow-lw: none;

  --ifm-code-padding-horizontal: 0.3rem;
  line-height: 1.6;

  --ifm-table-cell-padding: 0.3rem 0.75rem !important; // 0.75rem original

  table thead tr {
    border-bottom: none;
  }

  table {
    width: 100%;
    display: table; /* override any block/max-content quirks */
    table-layout: auto;
  }

  table th {
    text-align: left !important;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #3c89e8;
  --ifm-color-primary-dark: #1668dc;
  --ifm-color-primary-darker: #1554ad;
  --ifm-color-primary-darkest: #15417e;
  --ifm-color-primary-light: #65a9f3;
  --ifm-color-primary-lighter: #8dc5f8;
  --ifm-color-primary-lightest: #b7dcfa;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-navbar-background-color: #1b1b1d;
}

p > img {
  margin: auto;
  display: block;
  border-radius: 4px;
  border: 1px solid var(--ifm-color-emphasis-200);
}

/* Common styles for GitHub and Discord links */
.link-icon {
  width: 32px;
  height: 32px;
  padding: 6px;
  margin-right: 4px;
  border-radius: 50%;
  transition: background var(--ifm-transition-fast);
}

.link-icon:hover {
  background: var(--ifm-color-emphasis-200);
}

.toggleButton_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module
  svg {
  display: none;
}

.toggleButton_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iIzVhNWY2NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xMjAsNDBWMzJhOCw4LDAsMCwxLDE2LDB2OGE4LDgsMCwwLDEtMTYsMFptNzIsODhhNjQsNjQsMCwxLDEtNjQtNjRBNjQuMDcsNjQuMDcsMCwwLDEsMTkyLDEyOFptLTE2LDBhNDgsNDgsMCwxLDAtNDgsNDhBNDguMDUsNDguMDUsMCwwLDAsMTc2LDEyOFpNNTguMzQsNjkuNjZBOCw4LDAsMCwwLDY5LjY2LDU4LjM0bC04LThBOCw4LDAsMCwwLDUwLjM0LDYxLjY2Wm0wLDExNi42OC04LDhhOCw4LDAsMCwwLDExLjMyLDExLjMybDgtOGE4LDgsMCwwLDAtMTEuMzItMTEuMzJaTTE5Miw3MmE4LDgsMCwwLDAsNS42Ni0yLjM0bDgtOGE4LDgsMCwwLDAtMTEuMzItMTEuMzJsLTgsOEE4LDgsMCwwLDAsMTkyLDcyWm01LjY2LDExNC4zNGE4LDgsMCwwLDAtMTEuMzIsMTEuMzJsOCw4YTgsOCwwLDAsMCwxMS4zMi0xMS4zMlpNNDAsMTIwSDMyYTgsOCwwLDAsMCwwLDE2aDhhOCw4LDAsMCwwLDAtMTZabTg4LDg4YTgsOCwwLDAsMC04LDh2OGE4LDgsMCwwLDAsMTYsMHYtOEE4LDgsMCwwLDAsMTI4LDIwOFptOTYtODhoLThhOCw4LDAsMCwwLDAsMTZoOGE4LDgsMCwwLDAsMC0xNloiPjwvcGF0aD48L3N2Zz4=")
    no-repeat;
}

html[data-theme="dark"]
  .toggleButton_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module:before {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI2JlYzNjOSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMzMuNTQsMTQyLjIzYTgsOCwwLDAsMC04LTIsODguMDgsODguMDgsMCwwLDEtMTA5LjgtMTA5LjgsOCw4LDAsMCwwLTEwLTEwLDEwNC44NCwxMDQuODQsMCwwLDAtNTIuOTEsMzdBMTA0LDEwNCwwLDAsMCwxMzYsMjI0YTEwMy4wOSwxMDMuMDksMCwwLDAsNjIuNTItMjAuODgsMTA0Ljg0LDEwNC44NCwwLDAsMCwzNy01Mi45MUE4LDgsMCwwLDAsMjMzLjU0LDE0Mi4yM1pNMTg4LjksMTkwLjM0QTg4LDg4LDAsMCwxLDY1LjY2LDY3LjExYTg5LDg5LDAsMCwxLDMxLjQtMjZBMTA2LDEwNiwwLDAsMCw5Niw1NiwxMDQuMTEsMTA0LjExLDAsMCwwLDIwMCwxNjBhMTA2LDEwNiwwLDAsMCwxNC45Mi0xLjA2QTg5LDg5LDAsMCwxLDE4OC45LDE5MC4zNFoiPjwvcGF0aD48L3N2Zz4=")
    no-repeat;
}

/* GitHub link styles */
.github-link:before {
  content: "";
  height: 100%;
  display: block;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iIzVhNWY2NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMDguMzEsNzUuNjhBNTkuNzgsNTkuNzgsMCwwLDAsMjAyLjkzLDI4LDgsOCwwLDAsMCwxOTYsMjRhNTkuNzUsNTkuNzUsMCwwLDAtNDgsMjRIMTI0QTU5Ljc1LDU5Ljc1LDAsMCwwLDc2LDI0YTgsOCwwLDAsMC02LjkzLDQsNTkuNzgsNTkuNzgsMCwwLDAtNS4zOCw0Ny42OEE1OC4xNCw1OC4xNCwwLDAsMCw1NiwxMDR2OGE1Ni4wNiw1Ni4wNiwwLDAsMCw0OC40NCw1NS40N0EzOS44LDM5LjgsMCwwLDAsOTYsMTkydjhINzJhMjQsMjQsMCwwLDEtMjQtMjRBNDAsNDAsMCwwLDAsOCwxMzZhOCw4LDAsMCwwLDAsMTYsMjQsMjQsMCwwLDEsMjQsMjQsNDAsNDAsMCwwLDAsNDAsNDBIOTZ2MTZhOCw4LDAsMCwwLDE2LDBWMTkyYTI0LDI0LDAsMCwxLDQ4LDB2NDBhOCw4LDAsMCwwLDE2LDBWMTkyYTM5LjgsMzkuOCwwLDAsMC04LjQ0LTI0LjUzQTU2LjA2LDU2LjA2LDAsMCwwLDIxNiwxMTJ2LThBNTguMTQsNTguMTQsMCwwLDAsMjA4LjMxLDc1LjY4Wk0yMDAsMTEyYTQwLDQwLDAsMCwxLTQwLDQwSDExMmE0MCw0MCwwLDAsMS00MC00MHYtOGE0MS43NCw0MS43NCwwLDAsMSw2LjktMjIuNDhBOCw4LDAsMCwwLDgwLDczLjgzYTQzLjgxLDQzLjgxLDAsMCwxLC43OS0zMy41OCw0My44OCw0My44OCwwLDAsMSwzMi4zMiwyMC4wNkE4LDgsMCwwLDAsMTE5LjgyLDY0aDMyLjM1YTgsOCwwLDAsMCw2Ljc0LTMuNjksNDMuODcsNDMuODcsMCwwLDEsMzIuMzItMjAuMDZBNDMuODEsNDMuODEsMCwwLDEsMTkyLDczLjgzYTguMDksOC4wOSwwLDAsMCwxLDcuNjVBNDEuNzIsNDEuNzIsMCwwLDEsMjAwLDEwNFoiPjwvcGF0aD48L3N2Zz4=")
    no-repeat;
}

html[data-theme="dark"] .github-link:before {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI2JlYzNjOSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMDguMzEsNzUuNjhBNTkuNzgsNTkuNzgsMCwwLDAsMjAyLjkzLDI4LDgsOCwwLDAsMCwxOTYsMjRhNTkuNzUsNTkuNzUsMCwwLDAtNDgsMjRIMTI0QTU5Ljc1LDU5Ljc1LDAsMCwwLDc2LDI0YTgsOCwwLDAsMC02LjkzLDQsNTkuNzgsNTkuNzgsMCwwLDAtNS4zOCw0Ny42OEE1OC4xNCw1OC4xNCwwLDAsMCw1NiwxMDR2OGE1Ni4wNiw1Ni4wNiwwLDAsMCw0OC40NCw1NS40N0EzOS44LDM5LjgsMCwwLDAsOTYsMTkydjhINzJhMjQsMjQsMCwwLDEtMjQtMjRBNDAsNDAsMCwwLDAsOCwxMzZhOCw4LDAsMCwwLDAsMTYsMjQsMjQsMCwwLDEsMjQsMjQsNDAsNDAsMCwwLDAsNDAsNDBIOTZ2MTZhOCw4LDAsMCwwLDE2LDBWMTkyYTI0LDI0LDAsMCwxLDQ4LDB2NDBhOCw4LDAsMCwwLDE2LDBWMTkyYTM5LjgsMzkuOCwwLDAsMC04LjQ0LTI0LjUzQTU2LjA2LDU2LjA2LDAsMCwwLDIxNiwxMTJ2LThBNTguMTQsNTguMTQsMCwwLDAsMjA4LjMxLDc1LjY4Wk0yMDAsMTEyYTQwLDQwLDAsMCwxLTQwLDQwSDExMmE0MCw0MCwwLDAsMS00MC00MHYtOGE0MS43NCw0MS43NCwwLDAsMSw2LjktMjIuNDhBOCw4LDAsMCwwLDgwLDczLjgzYTQzLjgxLDQzLjgxLDAsMCwxLC43OS0zMy41OCw0My44OCw0My44OCwwLDAsMSwzMi4zMiwyMC4wNkE4LDgsMCwwLDAsMTE5LjgyLDY0aDMyLjM1YTgsOCwwLDAsMCw2Ljc0LTMuNjksNDMuODcsNDMuODcsMCwwLDEsMzIuMzItMjAuMDZBNDMuODEsNDMuODEsMCwwLDEsMTkyLDczLjgzYTguMDksOC4wOSwwLDAsMCwxLDcuNjVBNDEuNzIsNDEuNzIsMCwwLDEsMjAwLDEwNFoiPjwvcGF0aD48L3N2Zz4=")
    no-repeat;
}

/* Discord link styles */
.discord-link:before {
  content: "";
  height: 100%;
  display: block;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iIzVhNWY2NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xMDQsMTQwYTEyLDEyLDAsMSwxLTEyLTEyQTEyLDEyLDAsMCwxLDEwNCwxNDBabTYwLTEyYTEyLDEyLDAsMSwwLDEyLDEyQTEyLDEyLDAsMCwwLDE2NCwxMjhabTc0LjQ1LDY0LjktNjcsMjkuNzFhMTYuMTcsMTYuMTcsMCwwLDEtMjEuNzEtOS4xbC04LjExLTIycS02LjcyLjQ1LTEzLjYzLjQ2dC0xMy42My0uNDZsLTguMTEsMjJhMTYuMTgsMTYuMTgsMCwwLDEtMjEuNzEsOS4xbC02Ny0yOS43MWExNS45MywxNS45MywwLDAsMS05LjA2LTE4LjUxTDM4LDU4QTE2LjA3LDE2LjA3LDAsMCwxLDUxLDQ2LjE0bDM2LjA2LTUuOTNhMTYuMjIsMTYuMjIsMCwwLDEsMTguMjYsMTEuODhsMy4yNiwxMi44NFExMTguMTEsNjQsMTI4LDY0dDE5LjQuOTNsMy4yNi0xMi44NGExNi4yMSwxNi4yMSwwLDAsMSwxOC4yNi0xMS44OEwyMDUsNDYuMTRBMTYuMDcsMTYuMDcsMCwwLDEsMjE4LDU4bDI5LjUzLDExNi4zOEExNS45MywxNS45MywwLDAsMSwyMzguNDUsMTkyLjlaTTIzMiwxNzguMjgsMjAyLjQ3LDYyczAsMC0uMDgsMEwxNjYuMzMsNTZhLjE3LjE3LDAsMCwwLS4xNywwbC0yLjgzLDExLjE0YzUsLjk0LDEwLDIuMDYsMTQuODMsMy40MkE4LDgsMCwwLDEsMTc2LDg2LjMxYTguMDksOC4wOSwwLDAsMS0yLjE2LS4zQTE3Mi4yNSwxNzIuMjUsMCwwLDAsMTI4LDgwYTE3Mi4yNSwxNzIuMjUsMCwwLDAtNDUuODQsNiw4LDgsMCwxLDEtNC4zMi0xNS40YzQuODItMS4zNiw5Ljc4LTIuNDgsMTQuODItMy40Mkw4OS44Myw1NnMwLDAtLjEyLDBoMEw1My42MSw2MS45M2EuMTcuMTcsMCwwLDAtLjA5LDBMMjQsMTc4LjMzLDkxLDIwOGEuMjMuMjMsMCwwLDAsLjIyLDBMOTgsMTg5LjcyYTE3My4yLDE3My4yLDAsMCwxLTIwLjE0LTQuMzJBOCw4LDAsMCwxLDgyLjE2LDE3MCwxNzEuODUsMTcxLjg1LDAsMCwwLDEyOCwxNzZhMTcxLjg1LDE3MS44NSwwLDAsMCw0NS44NC02LDgsOCwwLDAsMSw0LjMyLDE1LjQxQTE3My4yLDE3My4yLDAsMCwxLDE1OCwxODkuNzJMMTY0Ljc1LDIwOGEuMjIuMjIsMCwwLDAsLjIxLDBaIj48L3BhdGg+PC9zdmc+")
    no-repeat;
}

html[data-theme="dark"] .discord-link:before {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI2JlYzNjOSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xMDQsMTQwYTEyLDEyLDAsMSwxLTEyLTEyQTEyLDEyLDAsMCwxLDEwNCwxNDBabTYwLTEyYTEyLDEyLDAsMSwwLDEyLDEyQTEyLDEyLDAsMCwwLDE2NCwxMjhabTc0LjQ1LDY0LjktNjcsMjkuNzFhMTYuMTcsMTYuMTcsMCwwLDEtMjEuNzEtOS4xbC04LjExLTIycS02LjcyLjQ1LTEzLjYzLjQ2dC0xMy42My0uNDZsLTguMTEsMjJhMTYuMTgsMTYuMTgsMCwwLDEtMjEuNzEsOS4xbC02Ny0yOS43MWExNS45MywxNS45MywwLDAsMS05LjA2LTE4LjUxTDM4LDU4QTE2LjA3LDE2LjA3LDAsMCwxLDUxLDQ2LjE0bDM2LjA2LTUuOTNhMTYuMjIsMTYuMjIsMCwwLDEsMTguMjYsMTEuODhsMy4yNiwxMi44NFExMTguMTEsNjQsMTI4LDY0dDE5LjQuOTNsMy4yNi0xMi44NGExNi4yMSwxNi4yMSwwLDAsMSwxOC4yNi0xMS44OEwyMDUsNDYuMTRBMTYuMDcsMTYuMDcsMCwwLDEsMjE4LDU4bDI5LjUzLDExNi4zOEExNS45MywxNS45MywwLDAsMSwyMzguNDUsMTkyLjlaTTIzMiwxNzguMjgsMjAyLjQ3LDYyczAsMC0uMDgsMEwxNjYuMzMsNTZhLjE3LjE3LDAsMCwwLS4xNywwbC0yLjgzLDExLjE0YzUsLjk0LDEwLDIuMDYsMTQuODMsMy40MkE4LDgsMCwwLDEsMTc2LDg2LjMxYTguMDksOC4wOSwwLDAsMS0yLjE2LS4zQTE3Mi4yNSwxNzIuMjUsMCwwLDAsMTI4LDgwYTE3Mi4yNSwxNzIuMjUsMCwwLDAtNDUuODQsNiw4LDgsMCwxLDEtNC4zMi0xNS40YzQuODItMS4zNiw5Ljc4LTIuNDgsMTQuODItMy40Mkw4OS44Myw1NnMwLDAtLjEyLDBoMEw1My42MSw2MS45M2EuMTcuMTcsMCwwLDAtLjA5LDBMMjQsMTc4LjMzLDkxLDIwOGEuMjMuMjMsMCwwLDAsLjIyLDBMOTgsMTg5LjcyYTE3My4yLDE3My4yLDAsMCwxLTIwLjE0LTQuMzJBOCw4LDAsMCwxLDgyLjE2LDE3MCwxNzEuODUsMTcxLjg1LDAsMCwwLDEyOCwxNzZhMTcxLjg1LDE3MS44NSwwLDAsMCw0NS44NC02LDgsOCwwLDAsMSw0LjMyLDE1LjQxQTE3My4yLDE3My4yLDAsMCwxLDE1OCwxODkuNzJMMTY0Ljc1LDIwOGEuMjIuMjIsMCwwLDAsLjIxLDBaIj48L3BhdGg+PC9zdmc+")
    no-repeat;
}

.navbar-search {
  width: 220px;
  margin-right: 12px;
  & > button:not(:hover) {
    box-shadow: none !important;
  }
}

.blog-list-item {
  max-width: 800px;
  /* Adjust the value based on your preference */
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

.main-wrapper {
  max-width: 1440px;
  margin: auto;
  width: 100%;
}

pre[class*="language-"] {
  border-radius: 0.2rem;
  padding: 0.4rem;
}

// To show button use this class
.inline-button {
  vertical-align: bottom;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 0px 4px;
  border-radius: 2px;
  border: 1px solid var(--ifm-color-emphasis-300);
  line-height: 24px;
}

.release-description > p {
  color: var(--ifm-color-gray-700);
  margin-bottom: 1rem;
  padding-left: 0.75rem;
}

.release-description > p:last-child {
  margin-bottom: 2px;
}

.button.button-iom {
  & {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    padding: 2px 6px;
    font-weight: 500;
    cursor: default;
  }

  &.button--primary {
    color: #fff;
  }

  &.button--default {
    border: 1px solid var(--ifm-color-emphasis-300) !important;
    color: var(--ifm-color-emphasis-700);
  }

  & > svg {
    margin-bottom: 1px;
  }
}

.docs-wrapper .navbar .navbar__toggle {
  margin-right: 0.8rem;
}

.theme-doc-sidebar-container .menu {
  & {
    padding: 1.15rem 1.15rem 2rem 1.15rem;
    font-weight: 400;
  }

  ul.menu__list .menu__list-item {
    & > a {
      font-size: 14px;
      padding: 6px 12px 6px 12px;
    }

    &-collapsible {
      & > a {
        font-weight: 500;
        color: var(--ifm-heading-color);
      }
    }

    .menu__link--sublist-caret:after,
    .menu__caret:before {
      background-size: 1.1rem;
    }
  }
}

.container {
  margin-bottom: 35px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 20px;
}

.tabs {
  & {
    border-bottom: 1px solid var(--ifm-table-border-color);
  }

  &__item {
    & {
      border-radius: 4px;
      padding: 8px 16px;
    }

    &--active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

pre {
  border: 1px solid var(--ifm-color-emphasis-200);
}

.card {
  border-radius: 6px;
}

.thin-scrollbar::-webkit-scrollbar {
  & {
    width: 6px;
  }

  &-track {
    background: unset;
    border-radius: unset;
  }

  &-thumb {
    & {
      background: #ddd;
      width: 2px;
      visibility: hidden;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.theme-doc-sidebar-container {
  & {
    border-right: 1px solid var(--ifm-table-border-color) !important;
  }

  &:hover .thin-scrollbar::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}
