/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@use "./test.module.scss";
@use "./custom-blog.scss";

:root {
  --ifm-color-primary: #0070f3;
  --ifm-color-primary-dark: #0065db;
  --ifm-color-primary-darker: #005fcf;
  --ifm-color-primary-darkest: #004eaa;
  --ifm-color-primary-light: #0c7cff;
  --ifm-color-primary-lighter: #1883ff;
  --ifm-color-primary-lightest: #3d96ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --iom-text-color: var(--ifm-color-gray-1000);
  --iom-text-muted: var(--ifm-color-gray-700);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #0070f3;
  --ifm-color-primary-dark: #0065db;
  --ifm-color-primary-darker: #005fcf;
  --ifm-color-primary-darkest: #004eaa;
  --ifm-color-primary-light: #0c7cff;
  --ifm-color-primary-lighter: #1883ff;
  --ifm-color-primary-lightest: #3d96ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --iom-text-color: var(--ifm-color-gray-0);
  --iom-text-muted: var(--ifm-color-gray-600);
}

// .docs-wrapper .navbar {
//   margin-left: 300px;
// }

// .docs-wrapper .navbar__brand {
//   display: none;
// }

#__docusaurus .menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

#__docusaurus .theme-doc-sidebar-container .menu {
  padding: 1.15rem 1.15rem 5rem 1.15rem;
}

.menu__list-item-collapsible > a {
  font-weight: 600;
  color: var(--ifm-heading-color);
}

.menu__list-item > a {
  font-size: 14px;
  padding: 6px 12px 6px 12px;
}

.menu__list-item-collapsible:hover {
  background: none;
}

.menu__link--active:not(.menu__link--sublist) {
  background-color: #0070f310;
}

.menu__link--active:hover:is(.menu__link--sublist) {
  color: var(--ifm-heading-color);
}

#__docusaurus .container {
  margin-bottom: 35px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 20px;
}

.card {
  border-radius: 6px;
  box-shadow: none !important;
  border-color: var(--ifm-color-emphasis-300) !important;
}

@media screen and (max-width: 996px) {
  .docs-wrapper .navbar {
    margin-left: 0px;
  }

  .docs-wrapper .navbar__brand {
    display: inline-block;
    margin-left: 12px;
  }
}

// user-guide/create-ssh-tunnel
.bg-white {
  background-color: white;
}

.bg-emphasis-300 {
  background-color: var(--ifm-color-emphasis-300);
}

.inline-button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 0px 4px;
  border-radius: 2px;
  border: 1px solid var(--ifm-color-emphasis-300);
  line-height: 24px;
}

.DocSearch-Button {
  border-radius: 5px !important;
  width: 200px;

  .DocSearch-Search-Icon {
    color: var(--docsearch-muted-color) !important;
  }

  .DocSearch-Button-Keys {
    display: none;
  }
}
