.button.button-iom {
    & {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        border-radius: 4px;
        padding: 2px 6px;
        font-weight: 500;
        cursor: default;
    }

    &.button--primary {
        color: #fff;
    }

    &.button--default {
        border: 1px solid var(--ifm-color-emphasis-300) !important;
        color: var(--ifm-color-emphasis-700);
    }

    &>svg {
        margin-bottom: 1px;
    }
}