.thin-scrollbar::-webkit-scrollbar {
    width: 6px;

    &-track {
        background: unset;
        border-radius: unset;
    }

    &-thumb {
        background: #ddd;
        width: 2px;
        visibility: hidden;

        &:hover {
            background: rgba(0, 0, 0, 0.2);
        }
    }
}


.theme-doc-sidebar-container {
    border-right: 1px solid var(--ifm-table-border-color) !important;

    &:hover .thin-scrollbar::-webkit-scrollbar-thumb {
        visibility: visible;
    }
}