.question {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  border-radius: 6px;

  padding: 20px 28px;
  margin-bottom: 18px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .title {
      color: #242424;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 0px;
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-left: 1rem;
    }
  }

  .content {
    margin-top: 40px;
  }

  .content p {
    color: #666;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
}
