.Parent {
  border: 1px solid var(--ifm-color-emphasis-300);
  background: var(--ifm-color-emphasis-100);
  padding: 20px 24px;
  border-radius: 3px;
  box-shadow: none;
}

.H4 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 0;
  font-weight: 500;
}

.P {
  color: var(--ifm-color-emphasis-600);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.NoSpam {
  font-size: 14px;
  color: var(--ifm-color-emphasis-600);
  margin-bottom: 0;
}

.Thanks {
  font-size: 14px;
  color: var(--ifm-color-success);
  margin-bottom: 0;
}

.FormContent {
  display: flex;
  gap: 12px;
}

.Input {
  appearance: none;
  border: 1px solid var(--ifm-color-gray-400);
  outline: none;
  border-radius: 4px;
  color: var(--ifm-navbar-search-input-color);
  cursor: text;
  font-size: 1rem;
  width: 100%;
  padding-left: 12px;
}

.Input:hover {
  border-color: var(--ifm-color-primary);
}

.Input:focus-visible {
  border-color: var(--ifm-color-primary-light);
}

.Button {
  border-radius: 4px;
  font-weight: 500;
  height: 2.5rem;
  color: var(--ifm-color-gray-100) !important;
}
