.Parent {
  border: 1px solid var(--ifm-color-emphasis-300);
  background: var(--ifm-color-emphasis-100);
  padding: 12px 24px;
}

.H2 {
  font-size: 1.5rem;

  @media (min-width: 640px) {
    font-size: 2rem;
  }
}

.P {
  color: var(--ifm-color-emphasis-800);
}

.NoSpam {
  font-size: .875rem;
  color: var(--ifm-color-emphasis-700);
}

.Thanks {
  font-size: .875rem;
  color: var(--ifm-color-success);
}

.FormContent {
  display: flex;
  gap: 12px;
}

.Input {
  appearance: none;
  border: 1px solid var(--ifm-color-gray-700);
  outline: none;
  border-radius: 4px;
  color: var(--ifm-navbar-search-input-color);
  cursor: text;
  font-size: 1rem;
  width: 100%;
  padding-left: 12px;
}

.Input:hover {
  border-color: var(--ifm-color-primary);
}

.Input:focus-visible {
  border-color: var(--ifm-color-primary-light);
}

.Button {
  border-radius: 4px;
  height: 2.5rem;
  color: var(--ifm-color-gray-100) !important;
}