.Parent {
  background: var(--secondary--background);
  padding: 20px 24px;
  border-radius: 3px;
  box-shadow: none;
}

.H4 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 0;
  font-weight: 400;
  color: var(--text-primary) !important;
}

.P {
  color: var(--text-stone-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.NoSpam {
  font-size: 12px;
  color: var(--text-stone-primary);
  margin-bottom: 0;
}

.Thanks {
  font-size: 14px;
  color: var(--ifm-color-success);
  margin-bottom: 0;
}

.FormContent {
  display: flex;
  gap: 12px;
}

.Input {
  appearance: none;
  border: 1px solid var(--border-primary);
  outline: none;
  border-radius: 4px;
  color: var(--ifm-navbar-search-input-color);
  cursor: text;
  font-size: 1rem;
  width: 100%;
  padding-left: 12px;
  background-color: transparent;
}

.Input:hover {
  border-color: var(--border-primary);
}

.Input:focus-visible {
  border-color: var(--border-primary);
}

.Button {
  border-radius: 4px;
  font-weight: 500;
  height: 2.5rem;
  color: var(--ifm-color-gray-100) !important;
  background-color: var(--primary--button);
  border: none;
}
