.MiniCard {
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  border: 1px solid var(--ifm-color-emphasis-200);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);

  padding: 20px 20px;
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h3,
  h3 p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: white !important;
    // background-color: #0c7cff;
    background-color: var(--ifm-color-primary-light);

    &:hover {
      // background-color: #0067E0;
      background-color: var(--ifm-link-color);
    }

    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
  }
}
