.CardLink,
.CardLink:hover {
  color: unset;
  text-decoration: none;
}

.CardImg {
  transition: transform 0.3s ease;
}

.CardFeaturedText {
  color: var(--ifm-color-primary);
}

.CardLink:hover .CardImg {
  transform: scale(1.03);
  opacity: 0.7;
}

.CardLink :global(.card) {
  box-shadow: none !important;
  border: none !important;

  @media (min-width: 768px) {
    &.FeaturedCard {
      flex-direction: row;
      margin-bottom: 24px !important;
      align-items: start !important;

      column-gap: 48px;

      .CardBody {
        max-width: 50%;
      }

      h3 {
        font-size: 32px !important;
        font-weight: 700 !important;
      }

      small {
        font-size: 16px !important;
      }

      :global(.card__image) {
        min-width: 400px !important;
        max-width: 100% !important;
      }

      .CardDesc {
        height: auto !important;
      }
    }
  }

  background-color: transparent;

  :global(.card__image img) {
    width: 100%;
  }

  :global(.card__body) {
    padding: 0px 0px 56px 0px;
    .CardDate {
      font-size: 14px;
      font-weight: 500;
      color: gray;
    }

    .CardTags {
      color: var(--ifm-color-emphasis-700);
      display: flex;
      gap: 8px;
      padding: 6px 0 12px 0;
      small {
        background-color: var(--ifm-color-emphasis-200);
        font-size: 12px;
        line-height: 16px;
        border-radius: 4px;
        padding: 4px 8px;
      }
    }

    .CardTitle {
      font-size: 18px;
      margin-bottom: 4px;
    }

    .CardDesc {
      display: inline-block;
      max-height: 48px;
      color: var(--ifm-color-emphasis-700);
    }

    :global(.avatar) {
      align-items: center;
      column-gap: 8px;

      :global(.avatar__photo) {
        width: 24px;
        height: 24px;
      }

      :global(.avatar__intro) {
        justify-content: flex-start;
        align-items: baseline;
        flex-direction: row;
        column-gap: 6px;
        flex-wrap: wrap;

        span::after {
          content: "      •";
        }
      }
    }
  }
}
